bin/
obj/
filesystem/bios.bin
.git
TransferBoy64.cbp
TransferBoy64.depend
TransferBoy64.layout
transferboy64.elf
transferboy64.dfs
transferboy64.bin
test.sh
*.o
*~
*.gb
*.sym
*.eeprom
*.exe
*.dll
bgb*
SuperTestBoy/imports/*